#=========================================================#
# OS Files
#=========================================================#
.DS_Store

#=========================================================#
# IDE Configuration
#=========================================================#
# VSCode configuration
.vscode/

#=========================================================#
# Base ROM
#=========================================================#
# Base ROM filesystem
romfs/**
# Base ROM executable(s)
base/**.dol

#=========================================================#
# Tools
#=========================================================#
# Kamek
tools/kamek/*
!tools/kamek/.gitkeep
# CodeWarrior
tools/codewarrior/*
!tools/codewarrior/.gitkeep
# wibo
tools/wibo/*
!tools/wibo/.gitkeep
# Compiled Python
tools/**/*.pyc

#=========================================================#
# Build Artifacts
#=========================================================#
# Build artifacts
build/**
# Symbol maps
*.MAP
# Ninja artifacts
.ninja_deps
.ninja_log
build.ninja
# clangd artifacts
compile_commands.json
.cache/clangd/